.heather {
    height: 200px;
    background-image: URL(http://1.bp.blogspot.com/-o1SoHcsc2ps/UIwIazVRdKI/AAAAAAAAAtc/XsccFyrjFZA/s1600/FlagBackground.jpg);
    text-align: center;
}

.content {
    color: RED;
    height: 200px;
    text-align: center;
    background-image: URL(https://i.ytimg.com/vi/aPZ2-RCnhaQ/maxresdefault.jpg);
}

.image {
    color: red;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}